#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#fact-container {
  margin-top: 20px;
  color:white;
}

#profilePic{
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto; 
    display: block; 
    
}

#otherFamilyImage {
    width: 400px;
    height: 445px;
}

#bucketListTitle{
    text-align: center;
    font-weight: bold;
}

#bucketImage{
    width: 475px;
    height: 445px;
}

#friendsImage {
    width: 520px;
    height: 445px; 
}

#brunchImage{
    width: 450px;
    height: 445px;
}

#quoteTopLeft{
    font-size: 22px;
    position: absolute;
    top: 85px;
    left: 50px;
}

#quoteMidLeft{
    font-size: 22px;
    position: absolute;
    top: 360px;
    left: 75px;
}

#quoteMid{
    font-size: 22px;
    position: absolute;
    top: 220px;
}

#quoteBottom{
    font-size: 22px;
    position: absolute;
    bottom: 130px; 
}

#welcomeMessage{
    color: white;
    text-align: center;
}


#welcomeText{
    color: white; 
    text-align: left;
}

#liImage{
    height: 30px;
    width: 30px;
}

#githubImage{
    height: 30px;
    width: 60px;
    color: grey;
}

#resume {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.nav {
    width: 100%;
    display: flex; 
    margin: 0;
    padding: 0;
    background-color: transparent;
    
}

.button-nav-bar{
    background-color: transparent;
    border: none;
}

.link-nav-bar{
    color: white;
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}

.grid-container-bottom {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  padding: 10px;
}

.grid-container-main{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 15px; 
    padding: 10px;
}

.grid-item {
  font-size: 30px;
  text-align: center;
  color: white;
} 
    
.quote-body{
    background-image: url('/images/books.jpg');
    background-size: cover;
}

.main-body{
    background-color:skyblue;
}

.home-body {
    background-image: url('/images/boston.jpg');
    background-size: cover;
}

.family-layout{
    display: flex; 
    flex-wrap: wrap;
    justify-content:left;
}

.family-layout img {
    margin: 10px;
    width: 475px;
    height: 390px; 
}

.ul-no-bullet{
    list-style-type: none;
}


